<a class="my-5" class="btn btn-outline-primary" routerLink="/favorites">Favorites list</a>
<div class="my-5">
    <input [(ngModel)]="query" placeholder="Search for movies..." class="form-control"/>
    <button class="btn btn-primary" (click)="search()">Search</button>
  
    <div *ngIf="searchResults.length > 0">
      <h2>Search Results</h2>
      <ul class="results">
        <li *ngFor="let movie of searchResults" class="btn btn-outline-primary d-block" [routerLink]="['/movie/',movie?.id]">
          {{ movie.title }}
        </li>
      </ul>
    </div>
</div>
